<!--public/商品一覧画面-->
<div class="container my-3">
  <div class="row">
  <h2>
    商品一覧
    <span class="item_count">全<%= Item.where(is_active: "販売可").count %>件</span>
  </h2>
  </div>
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>